#image{
    background-image: url('assets/stars1.gif');
    background-size: cover;
    height: 1250px;
    width: 2160px;
}

#ussSchwarz{
    background-image: url('assets/hero.png');
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 0px;

}

.alien1 {
 background-image: url('assets/enemy.png');
 height: 100px;
 width: 100px;
 position: absolute;
 top: 120px;
 left: 350px;
 rotate: 180deg;
};

.laser {
    background-image: url('assets/laser.png');
    height: 1200px;
    width: 1200px;
}


 

 
